{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    {% if title %}
        {{ title }} - microblog
    {% else %}
        microblog
    {% endif %}

{% endblock %}


{% block navbar %}
    <div class="navbar navbar-fixed-top">
            СибМИР-База
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('upload') }}">Upload</a>
    </div>
        <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
    </ul>
        {% endif %}
        {% endwith %}


{% endblock %}



{% block content %}
   {% block app_content %}{% endblock %}
{% endblock %}


