{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}
        {{ title }} - microblog
    {% else %}
        microblog
    {% endif %}

{% endblock %}


{% block navbar %}
    <div class="navbar navbar-fixed-top">
            Microblog:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
    </div>
        <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
    </ul>
        {% endif %}
        {% endwith %}
{% endblock %}

{% block content %}
  <h1>Hi, {{ user.username }}!</h1>
    {% for i in cars %}
    <div>
        <p>
            {{ i }}
        </p>
    </div>
    {% endfor %}
{% endblock %}


{% block content %}}

{% endblock %}