{% extends "index.html" %}

{% block content %}
    <h1>Sign In</h1>
    <div class="container">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ wtf.form_field(form.username.label) }}<br>
            {{ wtf.form_field(form.username(size=32)) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ wtf.form_field(form.password.label) }}<br>
            {{ wtf.form_field(form.password(size=32)) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ wtf.form_field(form.remember_me()) }} {{ wtf.form_field(form.remember_me.label) }}</p>
        <p>{{ wtf.form_field(form.submit()) }}</p>
    </form>
    </div>
{% endblock %}